## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos">
<section class="message left">
<article>
    <h2>Thỏa Thuận Sử Dụng Dịch Vụ</h2>

    <ol style="list-style-type: upper-roman;">
        <li>
            <span class="agreement-item">Điều khoản chung</span>
            <p>Chào mừng bạn đến website Kiến Học (sau đây gọi tắt là website). Việc bạn sử dụng website và các dịch vụ của website đồng nghĩa với việc bạn đã đồng ý với những thoả thuận dưới đây (Thỏa thuận sử dụng dịch vụ). Nếu bạn không đồng ý, xin vui lòng không sử dụng website và những dịch vụ của website. </p><p>
                Chúng tôi có thể sẽ thay đổi hoặc điều chỉnh Thoả thuận sử dụng dịch vụ. Bạn nên thường xuyên xem Thỏa thuận sử dụng dịch vụ mỗi khi vào website. Nếu bạn tiếp tục sử dụng website và những dịch vụ sau khi chúng tôi đã điều chỉnh tức là bạn đã đồng ý với Thỏa thuận sử dụng dịch vụ mới của chúng tôi.
                </p>
        </li>
        <li>
            <span class="agreement-item">Dịch vụ và trách nhiệm của chúng tôi</span>
            <p>Bạn cần đồng ý với Thoả thuận sử dụng dịch vụ, cam kết cung cấp thông tin chính xác khi đăng ký và chịu hoàn toàn trách nhiệm về những thông tin này.</p>

            <p>Bạn chịu trách nhiệm bảo vệ mật khẩu truy cập, và trách nhiệm của việc đăng nhập bằng mật khẩu của bạn, do hoặc không do bạn trực tiếp đăng nhập.</p>

        </li>
        <li>
            <span class="agreement-item">Trách nhiệm và nghĩa vụ của bạn</span>
            <ul>
                <li>Dịch vụ của chúng tôi là những dịch vụ được ghi trên website này (sau đây gọi tắt là dịch vụ).</li>
                <li>Bạn đồng ý rằng chúng tôi có quyền, và không cần thông báo trước, điều chỉnh những dịch vụ.</li>
                <li>Bạn cũng đồng ý rằng chúng tôi có quyền điều chỉnh hoặc xoá những thông tin mà bạn cung cấp cho chúng tôi để bảo đảm những thông tin được đăng ký phù hợp với Quy định của website.</li>
                <li>Bạn đồng ý rằng chúng tôi sẽ không chịu trách nhiệm cho những thiệt hại do sự thiếu hoặc không chính xác của thông tin trên website, bao gồm những hậu quả trực tiếp, gián tiếp, ngẫu nhiên, hoặc phát sinh từ việc bạn truy cập hoăc sử dụng thông tin trên website. Vì vậy, bạn hoàn toàn chịu trách nhiệm cho những hậu quả của việc sử dụng website.</li>
                <li>Bạn hiểu và đồng ý rằng các thông tin về tên truy cập và mật khẩu phải được giữ bí mật, và phải thông báo ngay cho chúng tôi nếu bạn nghi ngờ rằng mật khẩu của mình đã bị tiết lộ.</li>
                <li>Bạn đồng ý rằng chúng tôi có quyền ngăn chặn tạm thời hoặc lâu dài sự truy cập và sử dụng website của bạn nếu như bạn có hành động gây hại đến website hoặc vi phạm Thoả thuận sử dụng dịch vụ. </li>
            </ul>
        </li>
        <li>
            <span class="agreement-item">Sử dụng nội dung trên website</span>
            <p>Nội dung trên website này có thể được xem và in ra hoặc gửi cho người khác. Bạn không thể sửa đổi, bán hoặc chuyển nhượng thương mại bất kỳ thông tin gì từ website này.</p>
        </li>
        <li>
            <span class="agreement-item">Đăng kí thành viên</span>
            <ul>
                <li>Đăng kí thành viên hoàn toàn miễn phí.</li>
                <li>Chúng tôi có quyền từ chối đưa thông tin lên website nếu như chúng tôi cảm thấy thông tin do bạn cung cấp không có sự tin cậy.</li>
                <li>Mỗi thành viên chỉ được có tối đa một đăng ký. Nếu thành viên vi phạm quy định, chúng tôi sẽ xóa đăng ký của thành viên đó.</li>
            </ul>
        </li>
        <li>
            <span class="agreement-item">Những điều cấm</span>
            <p>Bạn đồng ý không vi phạm các quy định cấm sau đây:</p>
            <ul>
                <li>Cung cấp các thông tin vi phạm pháp luật, thuần phong mỹ tục, kinh doanh bất hợp pháp, gây hại đến doanh nghiệp khác.</li>
                <li>Sử dụng những thông tin trên website nhằm mục đích gửi những email hoặc quảng cáo không có sự đồng ý của người nhận.</li>
                <li>Cung cấp các thông tin hoặc hình ảnh thuộc sở hữu của chủ thể khác được bảo vệ bởi luật pháp trong và ngoài nước.</li>
            </ul>        
        </li>
        <li>
            <span class="agreement-item">Sản phẩm và dịch vụ của chủ thể khác</span>
            <p>Chúng tôi sẽ không chịu trách nhiệm về bất kỳ sự thiệt hại gây ra do sản phẩm dịch vụ được đăng ký hoặc đề cập trên website, trực tiếp hoặc gián tiếp.</p>
        </li>
        <li>
            <span class="agreement-item">Thông báo nếu có sự vi phạm</span>
            <p>Nếu bạn phát hiện có bất kỳ thông tin nào trên website vi phạm với nhãn hiệu hàng hoá hoặc bản quyền mà bạn có quyền sở hữu, hãy thông báo ngay cho chúng tôi biết.</p>
        </li>
        <li>
            <span class="agreement-item">Các điều luật được áp dụng</span>
            <p>Bạn đồng ý rằng hoạt động thương mại hoặc không thương mại trên và thông qua website phải tuân theo các quy định và luật pháp Việt Nam và các điều luật quốc tế mà việt Nam có ký kết. Khi có điều luật mới được ban hành hoặc áp dụng, điều luật này sẽ được áp dụng với tất cả thành viên của website.
             </p>   
        </li>
        <li>
            <span class="agreement-item">Thông tin liên lạc</span>
            <p>Nếu bạn gặp bất kì vấn đề gì từ website hoặc cập nhật thông tin trên website, vui lòng liên hệ <a href="mailto:support@kienhoc.vn">support@kienhoc.vn</a>.</p>
        </li>
    </ol>

    <h2>Chính Sách Bảo Mật Thông Tin Người Dùng</h2>
    <p>Kiến Học <strong>cam kết tôn trọng và bảo vệ tối đa thông tin của người dùng</strong>, cam kết được cụ thể hóa bằng các điều sau:</p>
    <ol style="list-style-type: upper-roman;">

        <li>
            <span class="agreement-item">Dữ liệu thu thập từ người dùng:</span>
            <p>Trong quá trình sử dụng và học tập tại Kiến Học, chúng tôi sẽ thu thập các dữ liệu cơ bản sau: </p>
            <ul>
                <li>Thông tin chung do người dùng cung cấp: Email, tên, giới tính, ngày tháng năm sinh, nơi ở, giới thiệu bản thân, hình đại diện.</li>
                <li>Thông tin phát sinh trong quá trình sử dụng Kiến Học của người dùng: tên khóa học tham dự, các thảo luận của người dùng, điểm số các bài thi hoặc các bài kiểm tra.</li>
                <li>Thông tin tự động thu được từ website: Chúng tôi nhận và lưu trữ một số loại thông tin bất kỳ khi nào bạn liên kết với website của chúng tôi. Ví dụ như, giống như nhiều website khác, chúng tôi sử dụng "cookies" (cookies là một file text nhỏ lưu một số thông tin về thói quen truy cập các khu vực trên site) và chúng tôi nhận được thông tin khi trình duyệt web của bạn truy cập vào Kiến Học. Ngay lần đầu tiên bạn ghé thăm Kiến Học, cookies sẽ được gửi tới máy vi tính của Bạn. Cookies này sẽ lưu trữ dữ liệu về tùy chọn ưa thích của người dùng tại Kiến Học.</li>
            </ul>
            <p>Khi người dùng có nhu cầu được cấp chứng nhận hoàn thành khóa học, chúng tôi sẽ yêu cầu được cung cấp thêm thông tin chứng minh thư nhân dân hoặc hộ chiếu của người dùng.</p>
        </li>
        <li>
            <span class="agreement-item">Cách thức sử dụng dữ liệu thu thập được:</span>

            <p>Một số thông tin cá nhân chúng tôi thu thập sẽ rất cần thiết để chúng tôi có thể xác định chính xác người nào đang sử dụng dịch vụ. Những loại thông tin cá nhân khác mà chúng tôi thu thập sẽ giúp chúng tôi lập hồ sơ cá nhân về người dùng và xác định nhu cầu của họ. Kiến Học cam kết không cung cấp dữ liệu người dùng cho bên thứ ba mà không thông qua sự đồng ý của người dùng.</p>
        </li>
        <li>
            <span class="agreement-item">Bảo mật thông tin</span>
            <ul>
                <li>Chúng tôi có thể chuyển thông tin của quý khách cho các đối tác trong khuôn khổ quy định của Chính sách bảo mật thông tin, ví dụ: chúng tôi có thể nhờ bên thứ ba nhận tiền thanh toán, phân tích dữ liệu, và hỗ trợ dịch vụ khách hàng.</li>
                <li>Chúng tôi có thể chuyển cơ sở dữ liệu gồm thông tin cá nhân của khách hàng nếu chúng tôi sáp nhập hoặc nhượng quyền công ty.</li>
                <li>Trong khuôn khổ Chính sách bảo mật, chúng tôi không bán hay tiết lộ dữ liệu cá nhân của bạn cho bên thứ ba mà không được đồng ý trước trừ khi điều này là cần thiết cho các điều khoản trong Chính sách bảo mật hoặc chúng tôi được yêu cầu phải làm như vậy theo quy định của Pháp luật.</li>
            </ul>
        </li>
        <li>
            <span class="agreement-item">Quyền thay đổi Chính sách bảo mật thông tin người dùng</span>
            <p>Chúng tôi có thể sửa đổi Chính sách bảo mật thông tin người dùng này theo yêu cầu công việc của chúng tôi hoặc theo những thay đổi của pháp luật mà không báo trước với người dùng. Mọi thay đổi đối với Chính sách này sẽ được cập nhật trên trang web này, vì vậy vui lòng truy cập định kỳ để bảo đảm rằng bạn luôn nắm được Chính sách bảo vệ thông tin cá nhân mới nhất của chúng tôi.</p>
        </li>
        <li>
            <span class="agreement-item">Quyền miễn trừ trách nhiệm với các thông tin được thu thập bởi bên thứ ba có liên kết tại Kiến Học.</span>
            <p>Nội dung Chính sách bảo mật thông tin người dùng này chỉ áp dụng tại website Kiến Học, không bao gồm hoặc liên quan đến các bên thứ ba có liên kết tại Kiến Học. Chúng tôi khuyến khích bạn đọc kỹ chính sách của các trang web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào với các thông tin được thu thập của trang web thuộc bên thứ ba.</p>

         </li>       
    </ol>
    
</article>    
</section>
</section>

<script>
    $(document).ready(function() {
        var print_tos = '<input type="button" value="In Thoả Thuận Sử Dụng Dịch " class="print">';
        $('#content section.tos').prepend(print_tos).append(print_tos);
        $('#content section.tos input.print').click(function() {
            window.print();
            return false;
        });
    });
</script>
