## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<section class="container about" style="width: auto;">
  <section class="message left">
    <article>
      <h2>Về Kiến Học</h2>
      <br>
      <p>
        Trong thời đại công nghệ thông tin phát triển, giáo dục chất lượng cao không còn là điều xa vời. Nhận thấy trong khi Thế giới đang rộn ràng với các phong trào giáo dục mở online như OCW, Coursera, edX,... thì tại Việt Nam, giáo dục mở chỉ mới bắt đầu manh nha trong một vài lĩnh vực có phần thực dụng như luyện thi Đại học, đào tạo SEO, hướng dẫn lập trình… </p>
      <p>&nbsp;</p>
      <p>Với những băn khoăn đó, chúng tôi đã góp sức tạo ra Kiến Học nhằm cung cấp các khóa học chất lượng quốc tế với chi phí tối thiểu cho đại đa số người học Việt Nam, tập trung vào giáo dục trình độ đại học và thạc sỹ. Các khóa học được Kiến Học thiết kế và biên tập lại từ các nguồn học liệu mở của các trường đại học hàng đầu Thế giới như Harvard, MIT, Stanford… Với cách làm này, người học có thể tiếp cận với các chương trình giảng dạy hàng đầu Thế giới mà không phải lo lắng về chi phí. Song song với đó, chúng tôi sẽ kết hợp với những trường đại học, tổ chức giáo dục, và các cá nhân tài năng có tâm huyết khác để tự tạo ra những khóa học của riêng mình.</p>
      <p>&nbsp;</p>
      <p>Kiến Học đang trong những bước đi chập chững đầu tiên và để thực hiện được sứ mệnh của mình, chúng tôi luôn sẵn sàng học hỏi và hợp tác với bất kỳ đơn vị, tổ chức, hoặc cá nhân nào. Mọi chi tiết xin vui lòng liên hệ qua địa chỉ email <a href="mailto:info@kienhoc.vn">info@kienhoc.vn</a> chúng tôi chào đón mọi đóng góp ý kiến cũng như những đề nghị hợp tác của các bạn.</p>
      <br>
      </article>
  </section>    
</section>

