## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('Agreement')}</title></%block>

<section class="static-container tos">
    <h2>Thoả thuận sử dụng dịch dụ</h2>
THỎA THU ̣N SỬ DỤNG DỊCH VỤ

1. Điều khoản chung
Chào mừng bạn đến website Kiến Học (sau đây gọi tắt là website). Việc bạn sử dụng website và các dịch vụ của website đồng nghĩa với việc bạn đã đồng ý với những thoả thuận dưới đây (Thỏa thuận sử dụng dịch vụ). Nếu bạn không đồng ý, xin vui lòng không sử dụng website và những dịch vụ của website.
Chúng tôi có thể sẽ thay đổi hoặc điều chỉnh Thoả thuận sử dụng dịch vụ. Bạn nên thường xuyên xem Thỏa thuận sử dụng dịch vụ mỗi khi vào website. Nếu bạn tiếp tục sử dụng website và những dịch vụ sau khi chúng tôi đã điều chỉnh tức là bạn đã đồng ý với Thỏa thuận sử dụng dịch vụ mới của chúng tôi.

2. Dịch vụ và trách nhiệm của chúng tôi
Dịch vụ của chúng tôi là những dịch vụ được ghi trên website này (sau đây gọi tắt là dịch vụ).
Bạn đồng ý rằng chúng tôi có quyền, và không cần thông báo trước, điều chỉnh những dịch vụ.
Bạn cũng đồng ý rằng chúng tôi có quyền điều chỉnh hoặc xoá những thông tin mà bạn cung cấp cho chúng tôi để bảo đảm những thông tin được đăng ký phù hợp với Quy định của website.
Bạn đồng ý rằng chúng tôi sẽ không chịu trách nhiệm cho những thiệt hại do sự thiếu hoặc không chính xác của thông tin trên website, bao gồm những hậu quả trực tiếp, gián tiếp, ngẫu nhiên, hoặc phát sinh từ việc bạn truy cập hoăc sử dụng thông tin trên website. Vì vậy, bạn hoàn toàn chịu trách nhiệm cho những hậu quả của việc sử dụng website.
Bạn hiểu và đồng ý rằng các thông tin về tên truy cập và mật khẩu phải được giữ bí mật, và phải thông báo ngay cho chúng tôi nếu bạn nghi ngờ rằng mật khẩu của mình đã bị tiết lộ.
Bạn đồng ý rằng chúng tôi có quyền ngăn chặn tạm thời hoặc lâu dài sự truy cập và sử dụng website của bạn nếu như bạn có hành động gây hại đến website hoặc vi phạm Thoả thuận sử dụng dịch vụ. 
3. Trách nhiệm và nghĩa vụ của bạn

Bạn cần đồng ý với Thoả thuận sử dụng dịch vụ, cam kết cung cấp thông tin chính xác khi đăng ký và chịu hoàn toàn trách nhiệm về những thông tin này.

Bạn chịu trách nhiệm bảo vệ mật khẩu truy cập, và trách nhiệm của việc đăng nhập bằng mật khẩu của bạn, do hoặc không do bạn trực tiếp đăng nhập.

4. Sử dụng nội dung trên website

Nội dung trên website này có thể được xem và in ra hoặc gửi cho người khác. Bạn không thể sửa đổi, bán hoặc chuyển nhượng thương mại bất kỳ thông tin gì từ website này.

5. Đăng kí thành viên
-   Đăng kí thành viên hoàn toàn miễn phí.

-   Chúng tôi có quyền từ chối đưa thông tin lên website nếu như chúng tôi cảm thấy thông tin do bạn cung cấp không có sự tin cậy.

-   Mỗi thành viên chỉ được có tối đa một đăng ký. Nếu thành viên vi phạm quy định, chúng tôi sẽ xóa đăng ký của thành viên đó.

6. Những điều cấm

Bạn đồng ý không vi phạm các quy định cấm sau đây:
(a) Cung cấp các thông tin vi phạm pháp luật, thuần phong mỹ tục, kinh doanh bất hợp pháp, gây hại đến doanh nghiệp khác.
(b) Sử dụng những thông tin trên website nhằm mục đích gửi những email hoặc quảng cáo không có sự đồng ý của người nhận.
(c) Cung cấp các thông tin hoặc hình ảnh thuộc sở hữu của chủ thể khác được bảo vệ bởi luật pháp trong và ngoài nước.

7. Sản phẩm và dịch vụ của chủ thể khác

Chúng tôi sẽ không chịu trách nhiệm về bất kỳ sự thiệt hại gây ra do sản phẩm dịch vụ được đăng ký hoặc đề cập trên website, trực tiếp hoặc gián tiếp.

8. Thông báo nếu có sự vi phạm

Nếu bạn phát hiện có bất kỳ thông tin nào trên website vi phạm với nhãn hiệu hàng hoá hoặc bản quyền mà bạn có quyền sở hữu, hãy thông báo ngay cho chúng tôi biết.

9. Các điều luật được áp dụng

Bạn đồng ý rằng hoạt động thương mại hoặc không thương mại trên và thông qua website phải tuân theo các quy định và luật pháp Việt Nam và các điều luật quốc tế mà việt Nam có ký kết. Khi có điều luật mới được ban hành hoặc áp dụng, điều luật này sẽ được áp dụng với tất cả thành viên của website.

10. Thông tin liên lạc
Nếu bạn gặp bất kì vấn đề gì từ website hoặc cập nhật thông tin trên website, vui lòng liên hệ support@kienhoc.vn


    <h2>${_('Terms of Service')}</h2>

    <p>${_('Put your Terms of Service here!')}</p>

    <h2 id="privacy">${_('Privacy Policy')}</h2>

    <p>${_('Put your Privacy Policy here!')}</p>

    <h2 id="honor">${_('Honor Code')}</h2>

    <p>${_('Put your Honor Code here!')}</p>

    <h2 id="copyright">${_('Copyright')}</h2>

    <p>${_('Put your Copyright Text here!')}</p>
</section>

<script>
    $(document).ready(function() {
        var print_tos = '<input type="button" value="Print Terms of Service" class="print">';
        $('#content section.tos').prepend(print_tos).append(print_tos);
        $('#content section.tos input.print').click(function() {
            window.print();
            return false;
        });
    });
</script>
