## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Tình nguyện viên</title></%block>

<section class="container about" style="width: auto;">
  <section class="message left">
    <article>
      Giới thiệu về các tình nguyện viên ở đây.
     </article>
  </section>    
</section>

