## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Câu hỏi thường gặp</title></%block>

<section class="static-container tos">
<section class="message left">
<article>
    <h2>Câu hỏi thường gặp</h2>
    <ol>
    	<li>
    		<span class="agreement-item">Kiến Học là gì?</span>
    		<p>Cùng với sự phát triển của internet, giáo dục trực tuyến đã nở rộ trên thế giới với những khoá học trực tuyến như OCW (OpenCourseWare - Học liệu mở), MOOCs (Massive Open Online Courses - các khóa học đại trà trực tuyến mở) được cung cấp bởi các trường đại học hàng đầu thế giới trên trang Edx, Coursera… Những khoá học này cho phép học viên tiếp cận với những bài giảng từ các đại học nổi tiếng với chi phí thấp hoặc miễn phí. Nhưng bởi vì rào cản ngôn ngữ, nhiều người Việt Nam ít có điều kiện và bị hạn chế việc tham gia vào nền giáo dục tiên tiến kể trên. Kiến Học ra đời để thay đổi điều đó bằng cách dịch và cung cấp các khóa học mở kể trên bằng tiếng Việt dưới sự giám sát của các chuyên gia xuất sắc trong ngành.
    		</p>
    	</li>
    	<li>
    		<span class="agreement-item">Kiến Học có miễn phí không?</span>
    		<p>Chi phí luôn là một rào cản lớn giữa người học và giáo dục quốc tế nhưng chủ trương của Kiến Học luôn là: mang lại giáo dục quốc tế đến với càng nhiều người học càng tốt, với mức chi phí thấp nhất có thể. Các khoá học quốc tế đầu tiên của Kiến Học sẽ được cung cấp với hai hình thức: <strong>học miễn phí</strong> và <strong>học với chi phí thấp</strong>, trong đó học chi phí thấp sẽ bao gồm những nội dung cơ bản của học miễn phí kèm với một số dịch vụ phụ thêm như cấp giấy chứng nhận hoàn thành khoá học, trợ giảng chấm bài... Ngoài ra, Kiễn Học cũng cam kết sẽ miễn phí hoàn toàn với những đối tượng có hoàn cảnh đặc biệt (xem câu hỏi dưới).
    		</p>
    	</li>
    	<li>
    		<span class="agreement-item">Những ai được sử dụng trọng vẹn dịch vụ ở Kiến Học miễn phí hoàn toàn?</span>
    		<p>Với mục tiêu đóng góp cho nền giáo dục Việt Nam, Kiến Học sẽ miễn phí hoàn toàn tất cả các dịch vụ kèm thêm trong gói chi phí thấp với các đối tượng sau (căn cứ vào chứng minh thư và những giấy tờ cần thiết để chứng minh):
    			<ul>
    				<li>Người già trên 55 tuổi. </li>
    				<li>Người học thuộc hộ nghèo và cận nghèo.</li>
    				<li>Người học tại các vùng ưu tiên KV1 (gồm các địa phương thuộc miền núi, vùng cao, vùng sâu, hải đảo, trong đó có các xã thuộc vùng có điều kiện kinh tế - xã hội đặc biệt khó khăn theo quy định của Chính phủ). </li>
    				<li>Các trường hợp cụ thể khác (vui lòng liên lạc với Kiến Học nếu bạn nghĩ mình xứng đáng được sử dụng các dịch vụ kèm theo miễn phí). </li>
    			</ul>
    		</p>
    	</li>
    	<li>
    		<span class="agreement-item">Là một giảng viên tin vào triết lý của giáo dục mở, tôi muốn dạy trên Kiến Học?</span>
    		<p>Kiến Học luôn chào đón sự quan tâm của các giảng viên có trình độ chuyên môn cao muốn tìm đến Kiến Học để truyền đạt kiến thức đến với nhiều tầng lớp người học hơn. Nếu bạn muốn giảng dạy trên Kiến Học, vui lòng liên hệ với chúng tôi qua địa chỉ email <a href="mailto:info@kienhoc.vn">info@kienhoc.vn</a>. 
    		</p>	
    	</li>
    	<li>
    		<span class="agreement-item">Làm thế nào để đăng kí và thanh toán trên Kiến Học?</span>
    		<p> <i>Nội dung đang được cập nhật.</i>
    		</p>	
    	</li>
    	<li>
    		<span class="agreement-item">Làm thế nào để tôi có thể trở thành một cộng tác viên dịch bài cho Kiến Học?</span>
    		<p> Dịch thuật các bài giảng từ tiếng Anh sang tiếng Việt là một phần cực kỳ nặng nề và quan trọng cho mỗi khoá học. Kiến Học luôn cần các bạn cộng tác viên dịch thuật để hỗ trợ chúng tôi đưa được nhiều khóa học hơn đến với mọi người. Các bạn tình nguyện viên sau thời gian cống hiến sẽ được tặng giấy chứng nhận kinh nghiệm. Với các bạn dịch được tốt và nhiều, chúng tôi sẽ không ngần ngại viết thư giới thiệu bằng tiếng Anh hoặc tiếng Việt để các bạn có thể sử dụng trong hồ sơ xin việc, xin học bổng...
    		</p>	
    	</li>
    	<li>
    		<span class="agreement-item">Tự học online có giúp gì cho khả năng được tuyển dụng của tôi không?</span>
    		<p> Câu hỏi này còn tùy thuộc nhiều vào các nhà tuyển dụng, nhưng thông thường, họ sẽ xem việc người tìm việc có những hoạt động trau dồi kiến thức ngoài giờ học chính quy là một điểm cộng lớn vì nó thể hiện sự say mê học hỏi không ngừng. Ngoài ra, nếu bạn đọc thêm bài dịch sau tại blog Kiến Học, <a href="http://kienhoc.vn/su-nghiep/giao-duc-truc-tuyen-thu-hep-khoang-cach-ky-nang-p1/" target="_blank">http://kienhoc.vn/su-nghiep/giao-duc-truc-tuyen-thu-hep-khoang-cach-ky-nang-p1/ </a> bạn sẽ thấy rằng xu hướng sắp tới của các nhà tuyển dụng sẽ là dựa vào giáo dục trực tuyến để thu hẹp khoảng cách giữa giáo dục chính quy hàn lâm với thực tế công việc.
    		</p>	
    	</li>
    	<li>
    		<span class="agreement-item">Chính sách học phí/hoàn tiền học phí/hoàn 1 phần tiền  khi hoàn thành khóa học?</span>
    		<p> <i>Nội dung đang được cập nhật.</i>
    		</p>
    	</li>
    	<li>
    		<span class="agreement-item">Một cách khách quan nhất, vai trò của Kiến Học với người học, người dạy, và với nền giáo dục Việt Nam là như thế nào?</span>
    		<p> Đây là một câu hỏi rất thú vị, nhiều người cho rằng MOOCs (Massive Open Online Courses - các khóa học đại trà trực tuyến mở) mà Kiến Học đang theo đuổi sẽ có ảnh hưởng rất lớn đến tương lai của ngành giáo dục, và để hiểu rõ hơn về những sự ảnh hưởng đó, bạn có thể đọc qua bài dịch sau được đăng trên blog Kiến Học: <a href="http://kienhoc.vn/giao-duc/uu-nhuoc-cua-khoa-hoc-dai-tra-truc-tuyen-mo-moocs/" target="_blank">http://kienhoc.vn/giao-duc/uu-nhuoc-cua-khoa-hoc-dai-tra-truc-tuyen-mo-moocs/ </a>.
    		</p>	
    	</li>
    </ol>
</article>
</section>
</section>    


