## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="http://kienhoc.vn/ve-kien-hoc" target="_blank">Về Kiến Học</a></li>
          <li><a href="http://kienhoc.vn/blog/" target="_blank">Blog</a></li>	
          <li><a href="http://kienhoc.vn/co-van-khoa-hoc" target="_blank">Cố vấn khoa học</a></li>   
          <li><a href="http://kienhoc.vn/tnv" target="_blank">Tình nguyện viên</a></li>      
          <li><a href="http://kienhoc.vn/faq" target="_blank">Câu hỏi thường gặp</a></li>	
        </ol>
      </nav>
    </div>

    <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div>
  </footer>
</div>
